@model Raw.IdentityServer.Mvc.Models.SecretViewModel
<h1>Raw.IdentityServer.Mvc Secret Page</h1>

<h2>id_token</h2>
<ul>
    @foreach (var claim in Model.IdToken.Claims)
    {
        <li>@claim.Type: @claim.Value</li>
    }
</ul>

<h2>identity claims (returned from /userinfo endpoint)</h2>
<ul>
    @foreach (var claim in Model.UserClaims)
    {
        <li>@claim.Type: @claim.Value</li>
    }
</ul>

<h2>access_token</h2>
<ul>
    @foreach (var claim in Model.AccessToken.Claims)
    {
        <li>@claim.Type: @claim.Value</li>
    }
</ul>
